*{
    box-sizing: border-box;
    background-color: #fff;
    margin: 0
}

header{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(259,250,250,0.8) 5%, rgba(0,0,0,1) 25%);
    padding: 0.7rem 2rem 2.5rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
    z-index: 5;
}

#logoheader{
    height: 5rem;
    background: rgb(0,0,0,0);
}

header ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; 
    background: rgb(0,0,0,0);
    padding-right: 2rem;
    margin-top: 1.5rem;
}

header nav{
    background: rgb(0,0,0,0);
}

.header_item{
    background: rgb(0,0,0,0);
}

.hipervinculos_header{
    text-decoration: none;
    background: rgb(0,0,0,0);
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

header a:hover{
    color:#8C52FF;
    font-weight: bold;
    font-size: 1.7rem;
}

h1{
    color: #fff;
    background-color: rgb(249,0,249,0);
    font-family: 'Bebas Neue', cursive;
}

main{
    margin: 0rem 5rem
    border 0px solid #000
}

#carouselExampleDark{
    width: 60%;
    margin: auto;
    overflow: hidden;
    height: 30rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
}

.carousel-item{
    margin: 0.4rem 0rem;
    height: 30rem;
}

.carousel-indicators{
    background-color: transparent;
}

#cantantes{
    width: 80%;
    margin: auto;
    padding: 5rem 0rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    overflow: hidden;
}

.img{
    padding-bottom: 0.5rem;
    max-width: 20rem;
    border-radius: 2px;
    transition: all .9s;
}

.img:hover{
    transform: scale(1.1);
}

.dia{
    text-decoration: none;
    padding: 0rem 7rem;
    background-color: #000;
    font-family: 'Titillium Web', sans-serif;
    color: #ee5cee;
    font-size: 2rem
}

.titulo_imagen{
    background-color: rgba(0, 0, 0);
    padding: 0.5rem;
    text-align: center;
    border-radius: 2px;
}

h2{
    width: 75%;
    margin: auto;
    text-align: left;
    padding: 3rem 0rem 1rem;
    font-family: 'Sedgwick Ave Display', cursive;
    color: #f32ff3;
}

article{
    padding: 0rem 1rem;
    margin: 1rem 0.5rem;
    border: 3px #000 solid;
    background-color: #eec8ee;
    text-align:start
}

h4{
    padding: 0.5rem;
    font-family: 'Bebas Neue', cursive;
    color: #000;
    background-color: #eec8ee;
}

h6, ul, li{
    font-family: 'Titillium Web', sans-serif;
    color: #000;
    background-color: #eec8ee;
}

#mapasection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 0rem 6rem;
}

#sponsors img{
    display: block;
    margin: 0 auto;
    width: 55%;
    padding: 1rem 0rem 3rem;
}

footer{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(259,250,250,0.8) 5%, rgba(0,0,0,1) 25%);
    padding: 1rem;
    position:static;
    text-align: center;
}

footer h3{
    font-family: 'Bebas Neue', cursive;
    color: #f32ff3;
    background: rgb(0,0,0,0);
    font-size: 3;
    padding: 5rem 0rem 2rem;
}

footer nav, a{
    background-color: #000;
}

#footer_redessociales ul{
    list-style: none;
    background-color: #000;
    padding-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.iconos_redes{
    background-color: #000;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

.iconos_redes:hover{
    color: #f32ff3;
    cursor: pointer;
}

@media screen and (max-width: 618px) {
        header {
          display: flex;
          flex-direction: column;
        }

        header nav{
            margin: auto;
        }
}

@media screen and (max-width: 426px) {
    .hipervinculos_header{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1245px){
    .carousel-indicators{
        display: none;
    }

    .carousel-caption{
        visibility: hidden;
        height: 0;
    }
}

@media screen and (max-width: 850px){
    #carouselExampleDark{
        width: 90%;
    }
}

@media screen and (max-width: 600px){
    #carouselExampleDark{
        height: 20rem;
    }
}